################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/git_history/FileContentIndex/aba0988d-4a5f-404c-8980-c048a82a0f08.vsidx
/.vs/git_history/v17/.wsuo
/.vs/git_history/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
